<!-- <div>
  <mat-label for="month" i18n="@@Month" class="label"> Month</mat-label>
  <select (change)="onMonthChange($event)">
    <option i18n="@@ChooseMonth">Choose Month</option>
    <option *ngFor="let m of months " [value]="m">{{m}}</option>
  </select>
  <mat-label for="year" i18n="@@Year" class="label"> Year</mat-label>
  <select (change)="onYearSelected($event)">
    <option i18n="@@ChooseYear">Choose Year</option>
    <option *ngFor="let y of years " [value]="y">{{y}} </option>
  </select>
</div>-->


<div class="flexbox">
  <mat-card class="card" *ngFor="let item of statusList;">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
        <mat-card-subtitle>{{item.status}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <button (click)='getUsers(item?.statusId);'>{{item?.count}} </button>
        </p>
      </mat-card-content>
  </mat-card>
</div> 


  <mat-table  [dataSource]="dataSource" class="mat-elevation-z8" matSort aria-label="Elements">
    <!-- Id Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container  matColumnDef="name">
      <th mat-header-cell class="largeCol" *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell  class="largeCol" *matCellDef="let row">{{row.name}}</td>
    </ng-container>
   
    <ng-container matColumnDef="phone">
      <th mat-header-cell class="mediumCol" *matHeaderCellDef mat-sort-header>Telephone</th>
      <td mat-cell class="mediumCol" *matCellDef="let row">{{row.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell class="mediumCol" *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell class="mediumCol" *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="dateApproved" >
      <th mat-header-cell class="mediumCol" *matHeaderCellDef mat-sort-header>Date Approved</th>
      <td mat-cell class="mediumCol" *matCellDef="let row">{{ row?.dateApproved | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="issuedStamp" >
      <th mat-header-cell  class="mediumCol" *matHeaderCellDef mat-sort-header>Issued Stamp</th>
      <td mat-cell class="mediumCol" *matCellDef="let row">{{ row.issuedStamp }}</td>
    </ng-container>
    <ng-container  matColumnDef="action">
      <th mat-header-cell class="hide" *matHeaderCellDef></th>
      <td mat-cell  *matCellDef="let row">
        <!-- <a href="{{docPath}}{{row.id}}" target = "_blank" class = "btn btn-success" ><mat-icon>visibility</mat-icon></a> -->
       
        <button mat-icon-button (click)="onView(row.id)">
          <mat-icon>pageview</mat-icon>
        </button>
        <button mat-icon-button color="warn" title="delete">
          <mat-icon (click)="onDelete(row.id)">delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="['noData']" ng-class="{'hide':dataSource  == null }">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Data
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

<router-outlet></router-outlet>